<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endpoint</key>
	<string>app-with-hub-IOS</string>
	<key>domain</key>
	<string>mindbox-pushok.umbrellait.tech</string>
	<key>installationId</key>
	<string></string>
	<key>deviceUUID</key>
	<string>E70D6487-A172-4333-BEB2-5EC84B626C2B</string>
</dict>
</plist>
