<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MindBox-Test.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>96420A444F2E32A60D8B8652D90FBF045C04C937</string>
				<key>dateExpires</key>
				<string>17.02.2022</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>96420A444F2E32A60D8B8652D90FBF045C04C937</string>
						<key>dateExpires</key>
						<string>17.02.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MindBox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N39VVWZXXP</string>
						<key>name</key>
						<string>MAINDBOKS, OOO</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>N39VVWZXXP.PushOk</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>N39VVWZXXP</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>MindBox-Test.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8b7d0706-5293-436a-8811-df18440f68ce</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: PushOk</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>N39VVWZXXP</string>
				<key>name</key>
				<string>MAINDBOKS, OOO</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
