name: SDK CI

on:
  push:
    branches:
      - '**'
      - '!master'
      - '!release-*'
    paths-ignore:
      - '**.md'
    tags-ignore:
      - '**'

jobs:
  unit:
    runs-on: macos-11
    steps:
    - uses: actions/checkout@v2
    - name: Update bundler
      run: gem install bundler
    - name: Change version to newer
      run: gem install --default bundler
    - name: Install bundler dependencies
      run: bundle install
    - name: Run unit tests
      run: bundle exec fastlane unitTestLane
      env:
        CI: true
