name: SDK CI

on:
  push:
    branches:
      - '**'
      - '!master'
      - '!release-*'
    paths-ignore:
      - '**.md'
    tags-ignore:
      - '**'
jobs:
  SwiftLint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cirruslabs/swiftlint-action@v1
      with:
        args: --config swiftlint.yml

  # build:
  #   runs-on: macos-latest
  #   timeout-minutes: 15
  #   steps:
  #   - uses: actions/checkout@v4
  #   - uses: maxim-lobanov/setup-xcode@v1
  #     with:
  #       xcode-version: latest-stable

  #   - name: Update bundler
  #     run: gem install bundler
  #   - name: Install bundler dependencies
  #     run: bundle install
  #   - name: Install yeetd
  #     run: |
  #         wget https://github.com/biscuitehh/yeetd/releases/download/1.0/yeetd-normal.pkg
  #         sudo installer -pkg yeetd-normal.pkg -target /
  #         yeetd &
  #   - name: Run unit tests
  #     run: bundle exec fastlane unitTestLane
