name: Preparation for MindboxLogger release 

on:
  push:
    branches:
      - 'test-logger-release/*.*.*'

jobs:
  preparation:
    if: github.event.created
    
    runs-on: macos-14
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Extract version from branch name
        run: echo "VERSION=${GITHUB_REF#refs/heads/test-logger-release/}" >> $GITHUB_ENV

      - name: Bump version
        run: ./git-logger-release-branch-create.sh "${{ env.VERSION }}"

      - name: Create Pull Request
        run: |
          gh pr create \
            --base master \
            --head ${{ github.ref_name }} \
            --title "Release/${{ env.VERSION }}" \
            --body "Updates the release version to ${{ env.VERSION }}"
          PR_URL=$(gh pr view --json url --jq '.url')
          echo "PR_URL=$PR_URL" >> $GITHUB_ENV
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
