name: SDK publish

on:
  push:
    branches:
      - 'master'
      - 'support/*'
    tags-ignore:
      - '**'

jobs:
  unit:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: latest-stable
    - name: Update bundler
      run: gem install bundler
    - name: Install bundler dependencies
      run: bundle install
    - name: Install yeetd
      run: |
          wget https://github.com/biscuitehh/yeetd/releases/download/1.0/yeetd-normal.pkg
          sudo installer -pkg yeetd-normal.pkg -target /
          yeetd &
    - name: Run unit tests
      run: bundle exec fastlane unitTestLane

  publish:
    needs: [unit]
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: latest-stable
        
    - name: Release generation
      run: ./.github/git-release.sh
      env:
        GH_TOKEN: ${{ github.token }}
        
    - name: Update bundler
      run: gem install bundler
    - name: Install bundler dependencies
      run: bundle install
    - name: Install yeetd
      run: |
          wget https://github.com/biscuitehh/yeetd/releases/download/1.0/yeetd-normal.pkg
          sudo installer -pkg yeetd-normal.pkg -target /
          yeetd &

    - name: Run build
      run: bundle exec fastlane buildLane
      env:
        CI: true
        
    - name: Deploy to Cocoapods
      run: |
        set -eo pipefail
        pod lib lint --allow-warnings
        pod trunk push Mindbox.podspec --allow-warnings
        pod trunk push MindboxNotifications.podspec --allow-warnings
      env:
        COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TOKEN }}

  merge:
    needs: [publish]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout develop branch
      uses: actions/checkout@v4
      with:
        ref: develop
    - name: Create Pull Request
      run: gh pr create --base develop --head master --title "Merge 'master' into 'develop' after release" --body "Automated Pull Request to merge 'master' into 'develop' after release"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Merge Pull Request
      run: |
        pr_number=$(gh pr list --base develop --head master --json number --jq '.[0].number')
        gh pr merge $pr_number --merge
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
